<template>
  <q-table
    :rows-per-page-options="[0]"
    :data="tableEntries"
    :columns="concertsColumns"
    :visible-columns="visibleColumns"
    row-key="id"
  >
    <template #body="props">
      <q-tr :props="props">
        <q-td
          key="name"
          :props="props"
        >
          <router-link
            :to="`/concerts/${props.row.id}`"
            :data-cy="cyString"
          >
            {{ props.row.name }}
          </router-link>
        </q-td>
        <q-td
          key="date"
          :props="props"
        >
          {{ props.row.date }}
        </q-td>
        <q-td
          key="place"
          :props="props"
        >
          {{ props.row.place }}
        </q-td>
        <q-td
          key="organizer"
          :props="props"
        >
          {{ props.row.organizer }}
        </q-td>
        <q-td
          key="participant"
          :props="props"
        >
          {{ props.row.participant }}
        </q-td>
      </q-tr>
    </template>
    <template #pagination />
  </q-table>
</template>

<script>
import ConcertsColumns from 'src/mixins/ConcertsColumns';

export default {
  name: 'ConcertsEssentialData',
  mixins: [ConcertsColumns],
  props: {
    tableEntries: {
      type: Array,
      required: true,
    },
    visibleColumns: {
      type: Array,
      required: true,
    },
    cyString: {
      type: String,
      required: true,
    },
  },
};
</script>
