<template>
  <q-table
    :rows-per-page-options="[0]"
    :data="tableEntries"
    :columns="peopleColumns"
    :visible-columns="visibleColumns"
    row-key="id"
  >
    <template #body="props">
      <q-tr
        :props="props"
        data-cy="row"
      >
        <q-td
          key="first_name"
          :props="props"
        >
          {{ props.row.first_name }}
        </q-td>
        <q-td
          key="last_name"
          :props="props"
        >
          <router-link
            :to="`/people/${props.row.id}`"
            data-cy="show-people-link"
          >
            {{ props.row.last_name }}
          </router-link>
        </q-td>
        <q-td
          key="birth_country"
          :props="props"
        >
          {{ props.row.birth_country }}
        </q-td>
        <q-td
          key="birth_date"
          :props="props"
        >
          {{ props.row.birth_date }}
        </q-td>
        <q-td
          key="death_date"
          :props="props"
        >
          {{ props.row.death_date }}
        </q-td>
      </q-tr>
    </template>
    <template #pagination />
  </q-table>
</template>

<script>
import PeopleColumns from 'src/mixins/PeopleColumns';

export default {
  name: 'PeopleEssentialData',
  mixins: [PeopleColumns],
  props: {
    tableEntries: {
      type: Array,
      required: true,
    },
    visibleColumns: {
      type: Array,
      required: true,
    },
  },
};
</script>
