<template>
  <q-table
    :rows-per-page-options="[0]"
    :data="tableEntries"
    :columns="scoresColumns"
    :visible-columns="visibleColumns"
    row-key="id"
  >
    <template #body="props">
      <q-tr :props="props">
        <q-td
          key="title"
          :props="props"
        >
          <router-link
            :to="`/scores/${props.row.id}`"
            :data-cy="cyString"
          >
            <span class="text-weight-medium">{{ props.row.title }}</span>
          </router-link>
        </q-td>
        <q-td
          key="archive_ref"
          :props="props"
        >
          {{ props.row.archive_ref }}
        </q-td>
        <q-td
          key="editor"
          :props="props"
        >
          {{ props.row.editor }}
        </q-td>
      </q-tr>
    </template>
    <template #pagination />
  </q-table>
</template>

<script>
import ScoresColumns from 'src/mixins/ScoresColumns';

export default {
  name: 'ScoresEssentialData',
  mixins: [ScoresColumns],
  props: {
    tableEntries: {
      type: Array,
      required: true,
    },
    visibleColumns: {
      type: Array,
      required: true,
    },
    cyString: {
      type: String,
      required: true,
    },
  },
};
</script>
