<template>
  <div
    class="q-pa-md"
    style="max-width: 500px;"
  >
    <q-form
      class="q-gutter-md t-add-concert-form"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
      @submit="addConcert"
      @reset="onReset"
    >
      <q-input
        v-model.trim="name"
        filled
        class="t-add-concert-name"
        label="Nom*"
        hint="Champ requis"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Merci de saisir un nom']"
      />

      <q-input
        v-model="place"
        filled
        label="Lieu"
      />

      <q-input
        v-model="organizer"
        filled
        label="Organisateur"
      />

      <q-input
        v-model="participant"
        filled
        label="Participant"
      />

      <q-input
        v-model="date"
        filled
        label="Date"
      />

      <q-btn
        icon="add_circle"
        label="Ajouter chef"
        class="t-add-conductor"
        @click="increment"
      />

      <div
        v-for="x in count"
        :key="x"
      >
        <b>Chef {{ x }} :</b>
        <NewConductor
          @conductor:change="conductors[x - 1] = {
            id: $event.id,
            last_name: $event.last_name,
            first_name: $event.first_name
          }"
        />
      </div>

      <div>
        <q-btn
          label="Ajouter"
          type="submit"
          color="primary"
        />
        <q-btn
          label="Effacer"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
        />
      </div>
    </q-form>
    <div>{{ error }}</div>
  </div>
</template>

<script>
import NewConductor from 'components/concerts/NewConductor';

export default {
  name: 'AddConcert',
  components: { NewConductor },
  data() {
    return {
      organizer: null,
      place: null,
      participant: null,
      date: null,
      name: null,
      count: 0,
      conductors: [],
      error: null,
    };
  },
  beforeCreate() {
    if (!this.$store.state.signedInModule.signedIn) {
      this.$router.replace('/');
    }
  },
  methods: {
    increment() {
      this.count += 1;
    },
    onReset() {
      this.organizer = null;
      this.place = null;
      this.participant = null;
      this.date = null;
      this.name = null;
      this.count = 0;
      this.conductors = [];
    },
    addConcert() {
      this.$securedAxios.post('/concerts', {
        concert: {
          organizer: this.organizer,
          place: this.place,
          participant: this.participant,
          date: this.date,
          name: this.name,
          conductors: this.conductors,
        },
      })
        .then(() => this.$router.push('/concerts'))
        .catch((error) => { this.error = error; });
    },
  },
};
</script>
