<template>
  <q-card>
    <q-card-section>
      <b>{{ title }}</b>
      <q-item
        v-ripple
        tag="label"
      >
        <q-item-section avatar>
          <q-radio
            v-model="conductorsChoice"
            val="fromList"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>Choisir parmi la liste</q-item-label>
        </q-item-section>
      </q-item>

      <q-item
        v-ripple
        tag="label"
      >
        <q-item-section avatar>
          <q-radio
            v-model="conductorsChoice"
            val="fromScratch"
            @input="conductor = {}"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>Créer chef</q-item-label>
        </q-item-section>
      </q-item>
      <q-select
        v-if="conductorsChoice === 'fromList'"
        v-model="conductor"
        borderless
        class="t-people-list"
        :options="options"
        display-value-sanitize
        use-input
        input-debounce="0"
        label="Choix du chef"
        :option-value="opt => Object(opt) === opt ? opt : null"
        :option-label="opt => Object(opt) === opt && 'last_name' in opt ? fullName(opt) : ''"
        @focus.once="peopleFromApi"
        @filter="filterFn"
        @input="conductorChange"
      >
        <template #no-option>
          <q-item>
            <q-item-section class="text-grey">
              Aucun résultat
            </q-item-section>
          </q-item>
        </template>

        <template
          v-if="conductor"
          #append
        >
          <q-icon
            name="cancel"
            class="cursor-pointer"
            @click.stop="conductor = {}"
          />
        </template>
      </q-select>

      <div v-if="conductorsChoice === 'fromScratch'">
        <q-input
          v-model="conductor.last_name"
          label="Nom de famille"
          hint="Champ requis"
          clearable
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Merci de saisir un nom de famille']"
          @input="conductorChange"
        />
        <q-input
          v-model="conductor.first_name"
          label="Prénom"
          clearable
          @input="conductorChange"
        />
      </div>
    </q-card-section>

    <q-card-actions>
      <q-btn
        flat
        @click="removeConductor"
      >
        Supprimer
      </q-btn>
    </q-card-actions>
  </q-card>
</template>
<script>

export default {
  name: 'Conductor',
  props: {
    title: { type: String, default: '' },
    index: { type: Number, default: 0 },
  },
  data() {
    return {
      conductorsChoice: 'fromList',
      people: [],
      options: this.people,
      conductor: this.$store.state.peopleModule.people[this.index],
    };
  },
  methods: {
    fullName(conductor) {
      return `${conductor.first_name} ${conductor.last_name}`;
    },
    removeConductor() {
      this.$store.commit({
        type: 'peopleModule/removePerson',
        index: this.index,
      });
    },
    conductorChange() {
      this.$store.commit({
        type: 'peopleModule/setPerson',
        person: {
          id: this.conductor.id,
          first_name: this.conductor.first_name,
          last_name: this.conductor.last_name,
        },
        index: this.index,
      });
    },
    peopleFromApi() {
      this.$securedAxios.get('/people')
        .then((response) => { this.people = response.data; })
        .catch((error) => { this.error = error; });
    },
    filterFn(val, update) {
      if (val === '' && this.options !== null) {
        update(() => {
          this.options = this.people;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.options = this.people.filter((v) => v.last_name.toLowerCase().indexOf(needle) > -1);
      });
    },
  },
};
</script>
