<template>
  <div>
    <q-table
      :rows-per-page-options="[0]"
      :data="tableEntries"
      :columns="concertsColumns"
      :visible-columns="visibleConcertsColumns"
      row-key="id"
    >
      <template #body="props">
        <q-tr :props="props">
          <q-td
            key="name"
            :props="props"
            data-cy="concert-show-name"
          >
            {{ props.row.name }}
          </q-td>
          <q-td
            key="date"
            :props="props"
          >
            {{ props.row.date }}
          </q-td>
          <q-td
            key="place"
            :props="props"
          >
            {{ props.row.place }}
          </q-td>
          <q-td
            key="conductors"
            :props="props"
          >
            <router-link
              v-for="(conductor, index) in props.row.conductors"
              :key="conductor['id']"
              :to="`/people/${conductor['id']}`"
              data-cy="conductor-concert-link"
            >
              {{ conductor['first_name'] }}
              {{ conductor['last_name'] }}{{ props.row.conductors[index + 1] ? ',' : '' }}
            </router-link>
          </q-td>
          <q-td
            key="organizer"
            :props="props"
          >
            {{ props.row.organizer }}
          </q-td>
          <q-td
            key="participant"
            :props="props"
          >
            {{ props.row.participant }}
          </q-td>
        </q-tr>
      </template>
      <template #pagination />
    </q-table>

    <template
      v-if="tableEntries.length && tableEntries[0]['scores'].length"
    >
      <q-separator spaced="20px" />

      <div class="row">
        <div
          v-if="tableEntries[0]['scores'].length"
          class="col-6"
          data-cy="scores-concert"
        >
          <p class="text-h5">
            Œuvres interprétées
          </p>
          <scores-essential-data
            :table-entries="tableEntries[0]['scores']"
            :visible-columns="visibleScoresColumns"
            cy-string="score-concert-link"
          />
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import ConcertsColumns from 'src/mixins/ConcertsColumns';
import ScoresEssentialData from 'components/essential/ScoresEssentialData';

export default {
  name: 'GetConcert',
  components: { ScoresEssentialData },
  mixins: [ConcertsColumns],
  data() {
    return {
      tableEntries: [],
      visibleScoresColumns: ['title', 'archive_ref', 'conductor_ref', 'editor'],
      error: null,
    };
  },
  created() {
    this.$securedAxios.get(`/concerts/${window.location.pathname.split('/').pop()}`)
      .then((response) => {
        this.tableEntries.push(response.data);
      })
      .catch((error) => {
        this.error = error;
      });
  },
};
</script>

<style scoped>

</style>
