<template>
  <div class="q-pa-md">
    <q-table
      v-if="tableEntries"
      ref="table"
      class="sticky-header-column-table"
      :data="tableEntries"
      :columns="concertsColumns"
      :visible-columns="visibleConcertsColumns"
      row-key="id"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      :filter="filter"
    >
      <template #header="props">
        <q-tr :props="props">
          <q-th auto-width />
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>

      <template #body="props">
        <q-tr
          :props="props"
          data-cy="row"
        >
          <q-td auto-width>
            <q-btn
              class="t-update"
              size="sm"
              color="accent"
              round
              dense
              icon="edit"
              data-cy="edit"
              @click="update(props)"
            >
              <q-tooltip content-class="bg-accent">
                Modifier
              </q-tooltip>
            </q-btn>
            <q-btn
              class="t-delete"
              size="sm"
              color="accent"
              round
              dense
              icon="delete"
              @click="remove(props)"
            >
              <q-tooltip content-class="bg-accent">
                Supprimer
              </q-tooltip>
            </q-btn>
          </q-td>
          <q-td
            key="name"
            :props="props"
          >
            <router-link
              :to="`/concerts/${props.row.id}`"
              data-cy="show-concert-link"
            >
              {{ props.row.name }}
            </router-link>
          </q-td>
          <q-td
            key="date"
            :props="props"
          >
            {{ props.row.date }}
          </q-td>
          <q-td
            key="place"
            :props="props"
          >
            {{ props.row.place }}
          </q-td>
          <q-td
            key="conductors"
            :props="props"
          >
            <router-link
              v-for="(conductor, index) in props.row.conductors"
              :key="conductor['id']"
              :to="`/people/${conductor['id']}`"
              data-cy="show-conductor-concert-link"
            >
              {{ conductor['first_name'] }}
              {{ conductor['last_name'] }}{{ props.row.conductors[index + 1] ? ',' : '' }}
            </router-link>
          </q-td>
          <q-td
            key="organizer"
            :props="props"
          >
            {{ props.row.organizer }}
          </q-td>
          <q-td
            key="participant"
            :props="props"
          >
            {{ props.row.participant }}
          </q-td>
        </q-tr>
      </template>

      <template #pagination>
        <q-input
          v-model="filter"
          borderless
          dense
          debounce="300"
          placeholder="Filtrer les résultats"
          data-cy="filter-concerts"
        >
          <template #append>
            <q-icon name="search" />
          </template>
        </q-input>
        {{ totalRows }} / {{ tableEntries.length }} lignes
      </template>
    </q-table>
    <div v-else>
      {{ error }}
    </div>
  </div>
</template>

<script>
import ConcertsColumns from 'src/mixins/ConcertsColumns';

export default {
  name: 'ListConcerts',
  mixins: [ConcertsColumns],
  data() {
    return {
      tableEntries: [],
      totalRows: 0,
      filter: '',
      error: null,
      pagination: {
        rowsPerPage: 0,
      },
    };
  },
  mounted() {
    this.$watch(() => this.$refs.table.computedRows,
      (val) => {
        this.totalRows = val.length;
      });
  },
  created() {
    this.$securedAxios.get('/concerts')
      .then((response) => { this.tableEntries = response.data; })
      .catch((error) => { this.error = error; });
  },
  methods: {
    update(props) {
      const query = { ...props.row };
      delete query.id;

      this.$store.commit('peopleModule/defaultPeople', query.conductors);
      for (let i = 0; i < query.conductors.length; i += 1) {
        this.$store.commit('peopleModule/addPerson', query.conductors[i]);
      }

      delete query.conductors;

      return this.$router.push({ path: `/concerts/${props.row.id}/update`, query });
    },
    remove(props) {
      this.$securedAxios.delete(`/concerts/${props.row.id}`)
        .then(() => {
          const index = this.tableEntries.findIndex((element) => element === props.row);
          this.tableEntries.splice(index, 1);
        })
        .catch((error) => { this.error = error; });
    },
  },
};
</script>

<style lang="sass" scoped>
.sticky-header-column-table
  /* height or max-height is important */
  height: 75vh

  td:first-child
    /* bg color is important for td; just specify one */
    background-color: #fff !important

  tr th
    position: sticky
    /* higher than z-index for td below */
    z-index: 2
    /* bg color is important; just specify one */
    background: #fff

  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
    /* highest z-index */
    z-index: 3
  thead tr:first-child th
    top: 0
    z-index: 1
  tr:first-child th:first-child
    /* highest z-index */
    z-index: 3

  td:first-child
    z-index: 1

  td:first-child, th:first-child
    position: sticky
    left: 0
</style>
