<template>
  <div>
    <q-list>
      <q-item
        v-ripple
        tag="label"
      >
        <q-item-section avatar>
          <q-radio
            v-model="conductorsChoice"
            val="fromList"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>Choisir parmi la liste</q-item-label>
        </q-item-section>
      </q-item>

      <q-item
        v-ripple
        tag="label"
      >
        <q-item-section avatar>
          <q-radio
            v-model="conductorsChoice"
            val="fromScratch"
            @input="conductor = {}"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>Créer chef</q-item-label>
        </q-item-section>
      </q-item>
      <q-select
        v-if="conductorsChoice === 'fromList'"
        v-model="conductor"
        class="t-people-list"
        :options="options"
        display-value-sanitize
        use-input
        input-debounce="0"
        label="Choix du chef"
        :option-value="opt => Object(opt) === opt ? opt : null"
        :option-label="opt => Object(opt) === opt && 'last_name' in opt ?
          `${opt.first_name || ''} ${opt.last_name}` : ''"
        @focus.once="peopleFromApi"
        @filter="filterFn"
        @input="conductorChange"
      >
        <template #no-option>
          <q-item>
            <q-item-section class="text-grey">
              Aucun résultat
            </q-item-section>
          </q-item>
        </template>

        <template
          v-if="conductor"
          #append
        >
          <q-icon
            name="cancel"
            class="cursor-pointer"
            @click.stop="conductor = {}"
          />
        </template>
      </q-select>
    </q-list>

    <div v-if="conductorsChoice === 'fromScratch'">
      <q-input
        v-model="conductor.last_name"
        label="Nom de famille"
        hint="Champ requis"
        clearable
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Merci de saisir un nom de famille']"
        @input="conductorChange"
      />
      <q-input
        v-model="conductor.first_name"
        label="Prénom"
        clearable
        @input="conductorChange"
      />
    </div>
  </div>
</template>
<script>
export default {
  name: 'NewConductor',
  data() {
    return {
      conductorsChoice: 'fromList',
      people: [],
      options: this.people,
      conductor: {},
    };
  },
  methods: {
    conductorChange() {
      this.$emit('conductor:change', this.conductor);
    },
    peopleFromApi() {
      this.$securedAxios.get('/people')
        .then((response) => { this.people = response.data; })
        .catch((error) => { this.error = error; });
    },
    filterFn(val, update) {
      if (val === '' && this.options !== null) {
        update(() => {
          this.options = this.people;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.options = this.people.filter((v) => v.last_name.toLowerCase().indexOf(needle) > -1);
      });
    },
  },
};
</script>
