<template>
  <div
    class="q-pa-md"
    style="max-width: 500px;"
  >
    <q-form
      class="q-gutter-md t-add-concert-form"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
      @submit="updateConcert"
      @reset="onReset"
    >
      <q-input
        v-model.trim="name"
        filled
        class="t-add-concert-name"
        label="Nom*"
        hint="Champ requis"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Merci de saisir un nom']"
      />

      <q-input
        v-model="place"
        filled
        label="Lieu"
      />

      <q-input
        v-model="organizer"
        filled
        label="Organisateur"
      />

      <q-input
        v-model="participant"
        filled
        label="Participant"
      />

      <q-input
        v-model="date"
        filled
        label="Date"
      />

      <Conductor
        v-for="(conductor, index) in conductors"
        :key="`${conductor.id}_${Math.random()}`"
        :title="`Chef n°${index + 1}`"
        :index="index"
      />

      <q-btn
        icon="add_circle"
        label="Ajouter chef"
        class="t-add-conductor"
        @click="addConductor"
      />

      <div>
        <q-btn
          label="Modifier"
          type="submit"
          color="primary"
        />
        <q-btn
          label="Réinitialiser"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
        />
      </div>
    </q-form>

    <div>{{ error }}</div>
  </div>
</template>

<script>
import Conductor from 'components/concerts/Conductor';

export default {
  name: 'UpdateConcert',
  components: { Conductor },
  data() {
    return {
      organizer: this.$route.query.organizer || null,
      place: this.$route.query.place || null,
      participant: this.$route.query.participant || null,
      date: this.$route.query.date || null,
      name: this.$route.query.name || null,
      conductors: this.$store.state.peopleModule.people,
      error: null,
    };
  },
  beforeCreate() {
    if (!this.$store.state.signedInModule.signedIn) {
      this.$router.replace('/');
    }
  },
  beforeDestroy() {
    this.$store.commit('peopleModule/destroy');
  },
  methods: {
    addConductor() {
      this.$store.commit('peopleModule/addPerson', { id: null, first_name: '', last_name: '' });
    },
    onReset() {
      this.$store.commit('peopleModule/reset');
      Object.assign(this.$data, this.$options.data.call(this));
    },
    updateConcert() {
      this.$securedAxios.put(`/concerts/${this.$route.params.id}`,
        {
          concert:
            {
              organizer: this.organizer,
              place: this.place,
              participant: this.participant,
              date: this.date,
              name: this.name,
              conductors: this.conductors,
            },
        })
        .then(() => this.$router.push('/concerts'))
        .catch((error) => { this.error = error; });
    },
  },
};
</script>
