<template>
  <div
    class="q-pa-md"
  >
    <q-tabs
      :value="tab"
      dense
      class="text-grey"
      active-color="primary"
      indicator-color="primary"
      align="justify"
      narrow-indicator
      @input="tab = $event; resetError()"
    >
      <q-tab
        name="keywords"
        data-cy="search-tab-keywords"
        label="Par mot-clef"
      />
      <q-tab
        name="advanced"
        data-cy="search-tab-advanced"
        label="Avancée"
      />
    </q-tabs>

    <q-separator />

    <q-tab-panels
      v-model="tab"
      animated
    >
      <q-tab-panel name="keywords">
        <q-form
          class="q-gutter-md"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="off"
          spellcheck="false"
          data-cy="keywords-search-form"
          @submit="submitMultiSearch"
        >
          <q-input
            v-model="search"
            data-cy="search-field"
            filled
            label="Recherche par mot-clef"
          />

          <q-btn
            data-cy="search-btn"
            label="Valider"
            type="submit"
            color="primary"
          />
          <q-btn
            label="Effacer"
            type="reset"
            color="primary"
            flat
            class="q-ml-sm"
            @click="resetError(); resetKeywordsSearch()"
          />
        </q-form>
      </q-tab-panel>

      <q-tab-panel name="advanced">
        <q-form
          class="q-gutter-md"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="off"
          spellcheck="false"
          data-cy="advanced-search-form"
          @submit="submitAdvancedSearch"
        >
          <q-radio
            :value="model"
            val="score"
            label="Partitions"
            @input="model = $event; setAttributeResetErrorAndSearchObject()"
          />
          <q-radio
            :value="model"
            val="concert"
            label="Concerts"
            @input="model = $event; setAttributeResetErrorAndSearchObject()"
          />
          <q-radio
            :value="model"
            val="person"
            label="Acteurs"
            @input="model = $event; setAttributeResetErrorAndSearchObject()"
          />
          <div
            v-for="attribute of attributes[model]"
            :key="attribute.value"
          >
            <q-input
              v-model="searchObject.search[attribute.value]"
              filled
              :label="attribute.label"
              :data-cy="`search-field-${attribute.value}`"
            />
          </div>

          <q-btn
            data-cy="search-btn"
            label="Valider"
            type="submit"
            color="primary"
          />
          <q-btn
            label="Effacer"
            type="reset"
            color="primary"
            flat
            class="q-ml-sm"
            @click="resetError(); resetAdvancedSearch()"
          />
        </q-form>
      </q-tab-panel>
    </q-tab-panels>

    <div
      v-if="error"
      class="alert alert-danger"
    >
      {{ error }}
    </div>
    <br>

    <div v-if="serverCalled">
      <div
        v-if="Object.values(results).flat().length > 0"
        data-cy="results"
      >
        <div
          v-for="controllerName of Object.keys(results)"
          :key="controllerName"
        >
          <br>
          <q-expansion-item
            default-opened
          >
            <template #header>
              <span class="text-h6">{{ frenchName(controllerName) }}</span>
            </template>
            <component
              :is="componentName(controllerName)"
              :table-entries="results[controllerName]"
              :visible-columns="visibleColumnsPropertyName(controllerName)"
            >
              {{ results[controllerName] }}
            </component>
          </q-expansion-item>
        </div>
      </div>
      <div v-else>
        Aucun résultat
      </div>
      <div />
    </div>
  </div>
</template>

<script>
import PeopleEssentialData from 'components/essential/PeopleEssentialData';
import ScoresEssentialData from 'components/essential/ScoresEssentialData';
import ConcertsEssentialData from 'components/essential/ConcertsEssentialData';

export default {
  name: 'Search',
  components: {
    PeopleEssentialData, ScoresEssentialData, ConcertsEssentialData,
  },
  data() {
    return {
      tab: 'keywords',
      serverCalled: false,
      search: '',
      searchObject: { search: {} },
      results: {},
      visibleScoresColumns: ['title', 'archive_ref', 'conductor_ref', 'editor'],
      visibleConcertsColumns: ['place', 'date', 'name'],
      visiblePeopleColumns: ['last_name', 'first_name', 'birth_country', 'birth_date', 'death_date'],
      model: 'score',
      attributes: {
        score: [
          { label: 'Titre', value: 'title' },
          { label: 'Difficulté', value: 'difficulty' },
          { label: 'Réf. archive', value: 'archive_ref' },
          { label: 'Classification', value: 'classification' },
          { label: 'Style', value: 'style' },
          { label: 'Sous-style', value: 'substyle' },
          { label: 'Date d’acquisition', value: 'acquisition_date' },
          { label: 'Éditeur', value: 'editor' },
          { label: 'Type', value: 'score_type' },
          { label: 'Type de conducteur', value: 'conductor_type' },
          { label: 'Réf. conducteur', value: 'conductor_ref' },
          { label: 'Commentaire', value: 'comment' },
        ],
        concert: [
          { label: 'Nom', value: 'name' },
          { label: 'Date', value: 'date' },
          { label: 'Lieu', value: 'place' },
          { label: 'Organisateur', value: 'organizer' },
          { label: 'Participant', value: 'participant' },
        ],
        person: [
          { label: 'Nom de famille', value: 'last_name' },
          { label: 'Prénom', value: 'first_name' },
          { label: 'Pays de naissance', value: 'birth_country' },
          { label: 'Biographie', value: 'biography' },
        ],
      },
      error: '',
    };
  },

  beforeCreate() {
    if (!this.$store.state.signedInModule.signedIn) {
      this.$router.replace('/');
    }
  },

  methods: {
    frenchName(controllerName) {
      if (controllerName === 'scores') {
        controllerName = 'partitions';
      } else if (
        controllerName === 'people') {
        controllerName = 'acteurs';
      }

      return this.capitalizeFirstLetter(controllerName);
    },
    controllerFromModelName(modelName) {
      let controllerName;

      if (modelName === 'score' || modelName === 'concert') {
        controllerName = `${modelName}s`;
      } else if (
        modelName === 'person') {
        controllerName = 'people';
      }

      return controllerName;
    },
    componentName(string) {
      return `${this.capitalizeFirstLetter(string)}EssentialData`;
    },

    visibleColumnsPropertyName(string) {
      return this[`visible${this.capitalizeFirstLetter(string)}Columns`];
    },

    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },

    submitMultiSearch() {
      this.$securedAxios.post(`/multi_search?search=${this.search}`)
        .then((response) => {
          this.serverCalled = true;
          this.results = {};
          this.results = response.data;
        })
        .catch((error) => {
          this.error = error;
        });
    },

    submitAdvancedSearch() {
      const controller = this.controllerFromModelName(this.model);
      const searchObject = { ...this.searchObject };

      Object.keys(searchObject.search).forEach((key) => {
        if (searchObject.search[key] === '') {
          delete searchObject.search[key];
        }
      });

      this.$securedAxios.post(`/${controller}/search`, searchObject)
        .then((response) => {
          this.serverCalled = true;
          this.results = {};
          this.results[controller] = response.data;
        })
        .catch((error) => {
          this.error = error;
        });
    },

    resetError() {
      this.error = null;
    },

    resetKeywordsSearch() {
      this.search = '';
    },

    resetAdvancedSearch() {
      this.searchObject = { search: {} };
    },

    setAttributeResetErrorAndSearchObject() {
      this.resetError();
      this.resetAdvancedSearch();
    },

  },
};
</script>

<style scoped>

</style>
