<template>
  <div
    class="q-pa-md"
    style="max-width: 400px"
  >
    <q-form
      class="q-gutter-md t-signin-form"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
      @submit="onSubmit"
      @reset="onReset"
    >
      <q-input
        v-model="email"
        autofocus
        class="t-signin-email"
        filled
        label="Adresse électronique *"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Champ obligatoire']"
      />

      <q-input
        v-model="password"
        class="t-signin-password"
        filled
        :type="isPwd ? 'password' : 'text'"
        label="Mot de passe *"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Champ obligatoire']"
      >
        <template #append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>

      <div>
        <q-btn
          class="t-signin-validate"
          label="Valider"
          type="submit"
          color="primary"
        />
        <q-btn
          label="Effacer"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
        />
      </div>
    </q-form>

    <div
      v-if="error"
      class="alert alert-danger"
    >
      {{ error }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Signin',
  data() {
    return {
      email: null,
      password: null,
      isPwd: true,
      error: '',
    };
  },
  created() {
    this.checkSignedIn();
  },
  updated() {
    this.checkSignedIn();
  },

  methods: {
    findXsrfHeader(response) {
      return response.headers['x-xsrf-token'];
    },

    signin() {
      this.$plainAxios.post('/users/sign_in', {
        user: {
          email: this.email,
          password: this.password,
        },
      })
        .then((response) => this.signinSuccessful(response))
        .catch((error) => this.signinFailed(error));
    },

    signinSuccessful(response) {
      if (!this.findXsrfHeader(response)) {
        this.signinFailed(response);
        return;
      }
      localStorage.xsrf = this.findXsrfHeader(response);
      this.$store.commit('signedInModule/changeSignedInState', true);
      this.error = '';
      this.$router.replace('/scores');
    },

    signinFailed(error) {
      this.error = (error.response && error.response.data && error.response.data.error) || '';
      delete localStorage.xsrf;
      this.$store.commit('signedInModule/changeSignedInState', false);
    },

    checkSignedIn() {
      if (this.$store.state.signedInModule.signedIn) {
        this.$router.replace('/scores');
      }
    },

    onReset() {
      this.email = null;
      this.password = null;
    },

    onSubmit() {
      this.signin();
    },
  },
};
</script>

<style scoped>

</style>
