<template>
  <div
    class="q-pa-md"
    style="max-width: 500px;"
  >
    <q-form
      class="q-gutter-md t-add-score-form"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
      @submit="addScore"
      @reset="onReset"
    >
      <q-input
        v-model.trim="title"
        filled
        class="t-add-score-title"
        label="Titre*"
        hint="Champ requis"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Merci de saisir un titre']"
      />

      <q-input
        v-model.trim="number"
        filled
        class="t-add-score-number"
        label="Numéro*"
        hint="Champ requis"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Merci de saisir un numéro']"
      />

      <q-input
        v-model.trim="archiveRef"
        filled
        class="t-add-score-archive-ref"
        label="Référence archive*"
        hint="Champ requis"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Merci de saisir une référence archive']"
      />

      <q-input
        v-model.trim="difficulty"
        filled
        label="Difficulté"
      />

      <q-input
        v-model.trim="comment"
        filled
        type="textarea"
        label="Commentaire"
      />

      <q-input
        v-model="acquisitionDate"
        filled
        type="number"
        label="Date d’acquisition"
      />

      <q-input
        v-model.trim="classification"
        filled
        label="Classification"
      />

      <q-input
        v-model.trim="conductorRef"
        filled
        label="Référence conducteur"
      />

      <q-checkbox
        v-model="audioSupport"
        label="Support audio"
      />

      <q-input
        v-model.trim="editor"
        filled
        label="Éditeur"
      />

      <q-input
        v-model.trim="duration"
        filled
        label="Durée (min:sec)"
        mask="time"
        lazy-rules
        :rules="[validDuration]"
      />

      <q-input
        v-model.trim="writingDate"
        filled
        label="Date d’écriture"
      />

      <q-input
        v-model.trim="editingDate"
        filled
        label="Date d’édition"
      />

      <q-input
        v-model.trim="scoreType"
        filled
        label="Type"
      />

      <q-input
        v-model.trim="conductorType"
        filled
        label="Type de conducteur"
      />

      <q-input
        v-model.trim="style"
        filled
        label="Style"
      />

      <q-input
        v-model.trim="subStyle"
        filled
        label="Sous-style"
      />

      <div>
        <b>Compositeur</b> :
        <q-list>
          <q-item
            v-ripple
            tag="label"
          >
            <q-item-section avatar>
              <q-radio
                v-model="composerChoice"
                val="fromList"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Choisir parmi la liste</q-item-label>
            </q-item-section>
          </q-item>

          <q-item
            v-ripple
            tag="label"
          >
            <q-item-section avatar>
              <q-radio
                v-model="composerChoice"
                val="fromScratch"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Créer compositeur</q-item-label>
            </q-item-section>
          </q-item>
          <q-select
            v-if="composerChoice === 'fromList'"
            v-model="composer"
            class="t-composers-list"
            clearable
            :options="options"
            display-value-sanitize
            use-input
            input-debounce="0"
            label="Choix du compositeur"
            :option-value="opt => Object(opt) === opt ? opt : null"
            :option-label="opt => Object(opt) === opt && 'last_name' in opt ?
              `${opt.first_name || ''} ${opt.last_name}` : ''"
            @focus.once="peopleFromApi"
            @filter="filterFn"
          >
            <template #no-option>
              <q-item>
                <q-item-section class="text-grey">
                  Aucun résultat
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </q-list>

        <div v-if="composerChoice === 'fromScratch'">
          <q-input
            v-model="fromScratchComposer.last_name"
            label="Nom de famille"
            hint="Champ requis"
            clearable
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Merci de saisir un nom de famille']"
          />
          <q-input
            v-model="fromScratchComposer.first_name"
            label="Prénom"
            clearable
          />
        </div>
      </div>

      <div>
        <b>Arrangeur</b> :
        <q-list>
          <q-item
            v-ripple
            tag="label"
          >
            <q-item-section avatar>
              <q-radio
                v-model="arrangerChoice"
                val="fromList"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Choisir parmi la liste</q-item-label>
            </q-item-section>
          </q-item>

          <q-item
            v-ripple
            tag="label"
          >
            <q-item-section avatar>
              <q-radio
                v-model="arrangerChoice"
                val="fromScratch"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>Créer arrangeur</q-item-label>
            </q-item-section>
          </q-item>
          <q-select
            v-if="arrangerChoice === 'fromList'"
            v-model="arranger"
            clearable
            class="t-arrangers-list"
            use-input
            input-debounce="0"
            :options="options"
            display-value-sanitize
            label="Choix de l’arrangeur"
            :option-value="opt => Object(opt) === opt ? opt : null"
            :option-label="opt => Object(opt) === opt && 'last_name' in opt ?
              `${opt.first_name || ''} ${opt.last_name}` : ''"
            @focus.once="peopleFromApi"
            @filter="filterFn"
          >
            <template #no-option>
              <q-item>
                <q-item-section class="text-grey">
                  Aucun résultat
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </q-list>

        <div v-if="arrangerChoice === 'fromScratch'">
          <q-input
            v-model="fromScratchArranger.last_name"
            label="Nom de famille"
            hint="Champ requis"
            clearable
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Merci de saisir un nom de famille']"
          />
          <q-input
            v-model="fromScratchArranger.first_name"
            label="Prénom"
            clearable
          />
        </div>
      </div>

      <div>
        <q-btn
          label="Ajouter"
          type="submit"
          color="primary"
        />
        <q-btn
          label="Effacer"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
        />
      </div>
    </q-form>
    <div>{{ error }}</div>
  </div>
</template>

<script>
export default {
  name: 'AddScore',
  data() {
    return {
      title: '',
      difficulty: '',
      comment: '',
      acquisitionDate: null,
      classification: '',
      number: null,
      conductorRef: '',
      archiveRef: '',
      audioSupport: null,
      editor: '',
      duration: '',
      writingDate: '',
      editingDate: '',
      scoreType: '',
      conductorType: '',
      style: '',
      subStyle: '',
      composer: null,
      composerChoice: 'fromList',
      fromScratchComposer: { last_name: '', first_name: '' },
      arranger: null,
      arrangerChoice: 'fromList',
      fromScratchArranger: { last_name: '', first_name: '' },
      people: null,
      options: this.people,
      error: null,
    };
  },
  beforeCreate() {
    if (!this.$store.state.signedInModule.signedIn) {
      this.$router.replace('/');
    }
  },
  methods: {
    peopleFromApi() {
      this.$securedAxios.get('/people')
        .then((response) => { this.people = response.data; })
        .catch((error) => { this.error = error; });
    },
    filterFn(val, update) {
      if (val === '' && this.options !== null) {
        update(() => {
          this.options = this.people;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.options = this.people.filter((v) => v.last_name.toLowerCase().indexOf(needle) > -1);
      });
    },
    associatePerson(choice, fromScratch, currentPerson) {
      let person = null;

      if (choice === 'fromScratch' && fromScratch.last_name) {
        person = fromScratch;
      } else if (currentPerson && currentPerson.last_name) {
        person = currentPerson;
      }

      return person;
    },
    durationRegex() {
      return /^(\d{0,2}):(\d{2})$/;
    },
    validDuration(val) {
      if (val.length > 0) {
        return this.durationRegex().test(val) || 'Durée incorrecte (ex : pour une durée de '
        + '4 min et 33 sec, saisir « 04:33 »)';
      }
      return true;
    },
    onReset() {
      this.title = '';
      this.difficulty = '';
      this.comment = '';
      this.acquisitionDate = null;
      this.classification = '';
      this.number = 0;
      this.conductorRef = '';
      this.archiveRef = '';
      this.audioSupport = null;
      this.editor = '';
      this.duration = '';
      this.writingDate = '';
      this.editingDate = '';
      this.scoreType = '';
      this.conductorType = '';
      this.style = '';
      this.subStyle = '';
      this.composer = null;
      this.composerChoice = 'fromList';
      this.fromScratchComposer = { last_name: '', first_name: '' };
      this.arranger = null;
      this.arrangerChoice = 'fromList';
      this.fromScratchArranger = { last_name: '', first_name: '' };
    },
    addScore() {
      if (this.duration) {
        this.duration = Number(
          this.duration.replace(
            this.durationRegex(), (correspondance, $1, $2) => Number($1) * 60 + Number($2),
          ),
        );
      }

      this.$securedAxios.post('/scores', {
        score: {
          title: this.title,
          difficulty: this.difficulty,
          comment: this.comment,
          acquisition_date: this.acquisitionDate,
          classification: this.classification,
          number: this.number,
          conductor_ref: this.conductorRef,
          archive_ref: this.archiveRef,
          audio_support: this.audioSupport,
          editor: this.editor,
          duration: this.duration,
          writing_date: this.writingDate,
          editing_date: this.editingDate,
          score_type: this.scoreType,
          conductor_type: this.conductorType,
          style: this.style,
          substyle: this.subStyle,
          composed_by: this.associatePerson(
            this.composerChoice,
            this.fromScratchComposer,
            this.composer,
          ),
          arranged_by: this.associatePerson(
            this.arrangerChoice,
            this.fromScratchArranger,
            this.arranger,
          ),
        },
      })
        .then(() => this.$router.push('/scores'))
        .catch((error) => this.failure(error));
    },
    failure(error) {
      this.error = error;
    },
  },
};
</script>

<style scoped>

</style>
