<template>
  <div>
    <q-table
      :rows-per-page-options="[0]"
      :data="tableEntries"
      :columns="scoresColumns"
      :visible-columns="visibleScoresColumns"
      row-key="id"
    >
      <template #body="props">
        <q-tr :props="props">
          <q-td
            key="title"
            :props="props"
            data-cy="score-show-title"
          >
            <span class="text-weight-medium">{{ props.row.title }}</span>
          </q-td>
          <q-td
            key="duration"
            :props="props"
          >
            {{ formatDuration(props.row.duration) }}
          </q-td>
          <q-td
            key="difficulty"
            :props="props"
          >
            {{ props.row.difficulty }}
          </q-td>
          <q-td
            key="composer"
            :props="props"
          >
            <router-link
              v-if="props.row.composer.id"
              :to="`/people/${props.row.composer.id}`"
            >
              {{ props.row.composer.first_name }} {{ props.row.composer.last_name }}
            </router-link>
          </q-td>
          <q-td
            key="arranger"
            :props="props"
          >
            <router-link
              v-if="props.row.arranger.id"
              :to="`/people/${props.row.arranger.id}`"
            >
              {{ props.row.arranger.first_name }} {{ props.row.arranger.last_name }}
            </router-link>
          </q-td>
          <q-td
            key="archive_ref"
            :props="props"
          >
            {{ props.row.archive_ref }}
          </q-td>
          <q-td
            key="classification"
            :props="props"
          >
            {{ props.row.classification }}
          </q-td>
          <q-td
            key="number"
            :props="props"
          >
            {{ props.row.number }}
          </q-td>
          <q-td
            key="audio_support"
            :props="props"
          >
            {{ formatAudioSupport(props.row.audio_support) }}
          </q-td>
          <q-td
            key="writing_date"
            :props="props"
          >
            {{ props.row.writing_date }}
          </q-td>
          <q-td
            key="style"
            :props="props"
          >
            {{ props.row.style }}
          </q-td>
          <q-td
            key="substyle"
            :props="props"
          >
            {{ props.row.substyle }}
          </q-td>
          <q-td
            key="acquisition_date"
            :props="props"
          >
            {{ props.row.acquisition_date }}
          </q-td>
          <q-td
            key="editor"
            :props="props"
          >
            {{ props.row.editor }}
          </q-td>
          <q-td
            key="editing_date"
            :props="props"
          >
            {{ props.row.editing_date }}
          </q-td>
          <q-td
            key="score_type"
            :props="props"
          >
            {{ props.row.score_type }}
          </q-td>
          <q-td
            key="conductor_type"
            :props="props"
          >
            {{ props.row.conductor_type }}
          </q-td>
          <q-td
            key="conducter_ref"
            :props="props"
          >
            {{ props.row.conducter_ref }}
          </q-td>
          <q-td
            key="comment"
            :props="props"
          >
            {{ props.row.comment }}
          </q-td>
        </q-tr>
      </template>
      <template #pagination />
    </q-table>

    <template
      v-if="tableEntries.length && tableEntries[0]['concerts'].length"
    >
      <q-separator spaced="20px" />

      <div class="row">
        <div
          class="col-6"
          data-cy="concerts-score"
        >
          <p class="text-h5">
            Concerts
          </p>
          <concerts-essential-data
            :table-entries="tableEntries[0]['concerts']"
            :visible-columns="visibleConcertsColumns"
            cy-string="concert-score-link"
          />
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import ScoresColumns from 'src/mixins/ScoresColumns';
import ConcertsEssentialData from 'components/essential/ConcertsEssentialData';

export default {
  name: 'GetScore',
  components: { ConcertsEssentialData },
  mixins: [ScoresColumns],
  data() {
    return {
      tableEntries: [],
      visibleConcertsColumns: ['organizer', 'place', 'participant', 'date', 'name'],
      error: null,
    };
  },
  created() {
    this.$securedAxios.get(`/scores/${window.location.pathname.split('/').pop()}`)
      .then((response) => {
        this.tableEntries.push(response.data);
      })
      .catch((error) => {
        this.error = error;
      });
  },
  methods: {
    formatDuration(duration) {
      return duration ? `${Math.floor(duration / 60)} min ${duration % 60} s` : '';
    },
    formatAudioSupport(audioSupport) {
      return audioSupport ? '✔️' : '❌';
    },
  },
};
</script>

<style scoped>

</style>
