<template>
  <div class="q-pa-md">
    <q-table
      v-if="tableEntries"
      ref="table"
      class="sticky-header-column-table"
      :data="tableEntries"
      :columns="scoresColumns"
      :visible-columns="visibleScoresColumns"
      row-key="id"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      :filter="filter"
    >
      <template #header="props">
        <q-tr :props="props">
          <q-th auto-width />
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>

      <template #body="props">
        <q-tr
          :props="props"
          data-cy="row"
        >
          <q-td auto-width>
            <q-btn
              class="t-update"
              size="sm"
              color="accent"
              round
              dense
              icon="edit"
              data-cy="edit"
              @click="update(props)"
            >
              <q-tooltip content-class="bg-accent">
                Modifier
              </q-tooltip>
            </q-btn>
            <q-btn
              class="t-delete"
              size="sm"
              color="accent"
              round
              dense
              icon="delete"
              @click="remove(props)"
            >
              <q-tooltip content-class="bg-accent">
                Supprimer
              </q-tooltip>
            </q-btn>
          </q-td>
          <q-td
            key="title"
            data-cy="title"
            :props="props"
          >
            <router-link
              :to="`/scores/${props.row.id}`"
              data-cy="show-score-link"
            >
              <span class="text-weight-medium">{{ props.row.title }}</span>
            </router-link>
          </q-td>
          <q-td
            key="duration"
            :props="props"
          >
            {{ formatDuration(props.row.duration) }}
          </q-td>
          <q-td
            key="difficulty"
            :props="props"
          >
            {{ props.row.difficulty }}
          </q-td>
          <q-td
            key="composer"
            data-cy="composer"
            :props="props"
          >
            <router-link
              v-if="props.row.composer && props.row.composer.id"
              :to="`/people/${props.row.composer.id}`"
              data-cy="composer-link"
            >
              {{ props.row.composer.first_name }} {{ props.row.composer.last_name }}
            </router-link>
          </q-td>
          <q-td
            key="arranger"
            data-cy="arranger"
            :props="props"
          >
            <router-link
              v-if="props.row.arranger && props.row.arranger.id"
              :to="`/people/${props.row.arranger.id}`"
              data-cy="arranger-link"
            >
              {{ props.row.arranger.first_name }} {{ props.row.arranger.last_name }}
            </router-link>
          </q-td>
          <q-td
            key="archive_ref"
            :props="props"
          >
            {{ props.row.archive_ref }}
          </q-td>
          <q-td
            key="classification"
            :props="props"
          >
            {{ props.row.classification }}
          </q-td>
          <q-td
            key="number"
            :props="props"
          >
            {{ props.row.number }}
          </q-td>
          <q-td
            key="audio_support"
            :props="props"
          >
            {{ formatAudioSupport(props.row.audio_support) }}
          </q-td>
          <q-td
            key="writing_date"
            :props="props"
          >
            {{ props.row.writing_date }}
          </q-td>
          <q-td
            key="style"
            :props="props"
          >
            {{ props.row.style }}
          </q-td>
          <q-td
            key="substyle"
            :props="props"
          >
            {{ props.row.substyle }}
          </q-td>
          <q-td
            key="acquisition_date"
            :props="props"
          >
            {{ props.row.acquisition_date }}
          </q-td>
          <q-td
            key="editor"
            :props="props"
          >
            {{ props.row.editor }}
          </q-td>
          <q-td
            key="editing_date"
            :props="props"
          >
            {{ props.row.editing_date }}
          </q-td>
          <q-td
            key="score_type"
            :props="props"
          >
            {{ props.row.score_type }}
          </q-td>
          <q-td
            key="conductor_type"
            :props="props"
          >
            {{ props.row.conductor_type }}
          </q-td>
          <q-td
            key="conducter_ref"
            :props="props"
          >
            {{ props.row.conducter_ref }}
          </q-td>
          <q-td
            key="comment"
            :props="props"
          >
            {{ props.row.comment }}
          </q-td>
        </q-tr>
      </template>

      <template #pagination>
        <q-input
          v-model="filter"
          borderless
          dense
          debounce="300"
          placeholder="Filtrer les résultats"
          data-cy="filter-scores"
        >
          <template #append>
            <q-icon name="search" />
          </template>
        </q-input>
        {{ totalRows }} / {{ tableEntries.length }} lignes
      </template>
    </q-table>
    <div v-else>
      {{ error }}
    </div>
  </div>
</template>

<script>
import ScoresColumns from 'src/mixins/ScoresColumns';

export default {
  name: 'ListScores',
  mixins: [ScoresColumns],
  data() {
    return {
      tableEntries: [],
      totalRows: 0,
      error: null,
      filter: '',
      pagination: {
        rowsPerPage: 0,
      },
    };
  },
  created() {
    this.$securedAxios.get('/scores')
      .then((response) => { this.tableEntries = response.data; })
      .catch((error) => { this.error = error; });
  },
  mounted() {
    this.$watch(() => this.$refs.table.computedRows,
      (val) => {
        this.totalRows = val.length;
      });
  },
  methods: {
    formatDuration(duration) {
      return duration ? `${Math.floor(duration / 60)} min ${duration % 60} s` : '';
    },
    formatAudioSupport(audioSupport) {
      return audioSupport ? '✔️' : '❌';
    },
    update(props) {
      const query = { ...props.row };
      delete query.id;
      return this.$router.push({ path: `/scores/${props.row.id}/update`, query });
    },
    remove(props) {
      this.$securedAxios.delete(`/scores/${props.row.id}`)
        .then(() => {
          const index = this.tableEntries.findIndex((element) => element === props.row);
          this.tableEntries.splice(index, 1);
        })
        .catch((error) => { this.error = error; });
    },
  },
};
</script>

<style lang="sass" scoped>
.sticky-header-column-table
  /* height or max-height is important */
  height: 75vh

  td:first-child
    /* bg color is important for td; just specify one */
    background-color: #fff !important

  tr th
    position: sticky
    /* higher than z-index for td below */
    z-index: 2
    /* bg color is important; just specify one */
    background: #fff

  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
    /* highest z-index */
    z-index: 3
  thead tr:first-child th
    top: 0
    z-index: 1
  tr:first-child th:first-child
    /* highest z-index */
    z-index: 3

  td:first-child
    z-index: 1

  td:first-child, th:first-child
    position: sticky
    left: 0
</style>
