<template>
  <div id="q-app">
    <MainLayout />
  </div>
</template>

<script>
import MainLayout from 'layouts/MainLayout';

export default {
  name: 'App',
  components: { MainLayout },
};
</script>
