<template>
  <div
    class="q-pa-md"
    style="max-width: 500px;"
  >
    <q-form
      class="q-gutter-md t-add-people-form"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
      @submit="addPeople"
      @reset="onReset"
    >
      <q-input
        v-model="lastName"
        filled
        class="t-add-people-last-name"
        label="Nom de famille*"
        hint="Champ requis"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Merci de saisir un nom de famille']"
      />

      <q-input
        v-model="firstName"
        filled
        label="Prénom"
      />

      <q-input
        v-model="birthCountry"
        filled
        label="Pays de naissance"
      />

      <q-input
        v-model="birthDate"
        filled
        type="number"
        label="Année de naissance"
      />

      <q-input
        v-model="deathDate"
        filled
        type="number"
        label="Année de décès"
      />

      <q-input
        v-model="biography"
        filled
        type="textarea"
        label="Biographie"
        counter
        maxlength="1000"
        bottom-slots
        hint="Entre 10 et 1000 caractères"
        error-message="Longueur incorrecte"
        :error="!isValidBio"
      />

      <div>
        <q-btn
          label="Ajouter"
          type="submit"
          color="primary"
        />
        <q-btn
          label="Effacer"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
        />
      </div>
    </q-form>
    <div>{{ error }}</div>
  </div>
</template>

<script>
export default {
  name: 'AddPeople',
  data() {
    return {
      lastName: '',
      firstName: '',
      birthCountry: '',
      birthDate: null,
      deathDate: null,
      biography: '',
      error: null,
    };
  },
  computed: {
    isValidBio() {
      if (this.biography.length > 0) {
        return (this.biography.length > 10 && this.biography.length < 1000);
      }
      return true;
    },
  },
  beforeCreate() {
    if (!this.$store.state.signedInModule.signedIn) {
      this.$router.replace('/');
    }
  },
  methods: {
    onReset() {
      this.lastName = '';
      this.firstName = '';
      this.birthCountry = '';
      this.birthDate = null;
      this.deathDate = null;
      this.biography = '';
    },
    addPeople() {
      this.$securedAxios.post('/people', {
        person: {
          last_name: this.lastName,
          first_name: this.firstName,
          birth_country: this.birthCountry,
          birth_date: this.birthDate,
          death_date: this.deathDate,
          biography: this.biography,
        },
      })
        .then(() => this.$router.push('/people'))
        .catch((error) => this.failure(error));
    },
    failure(error) {
      this.error = error;
    },
  },
};
</script>

<style scoped>

</style>
