<template>
  <div>
    <q-table
      :rows-per-page-options="[0]"
      :data="tableEntries"
      :columns="peopleColumns"
      :visible-columns="visiblePeopleColumns"
      row-key="id"
      data-cy="people-show"
    >
      <template #pagination />
    </q-table>

    <template
      v-if="tableEntries.length
        && (tableEntries[0]['composed_scores'].length
          || tableEntries[0]['arranged_scores'].length)"
      data-cy="scores-people"
    >
      <q-separator spaced="20px" />

      <div class="row">
        <div
          v-if="tableEntries[0]['composed_scores'].length"
          class="col-6"
        >
          <p class="text-h5">
            Œuvres composées
          </p>
          <scores-essential-data
            :table-entries="tableEntries[0]['composed_scores']"
            :visible-columns="visibleScoresColumns"
            cy-string="scores-composed-by-people-link"
          />
        </div>

        <div
          v-if="tableEntries[0]['arranged_scores'].length"
          class="col-6"
        >
          <p class="text-h5">
            Œuvres arrangées
          </p>
          <scores-essential-data
            :table-entries="tableEntries[0]['arranged_scores']"
            :visible-columns="visibleScoresColumns"
            cy-string="scores-arranged-by-people-link"
          />
        </div>
      </div>
    </template>

    <template
      v-if="tableEntries.length
        && tableEntries[0]['concerts'].length"
      data-cy="concerts-people"
    >
      <q-separator spaced="20px" />

      <div class="row">
        <div
          v-if="tableEntries[0]['concerts'].length"
          class="col-6"
        >
          <p class="text-h5">
            Concerts dirigés
          </p>
          <concerts-essential-data
            :table-entries="tableEntries[0]['concerts']"
            :visible-columns="visibleConcertsColumns"
            cy-string="concerts-directed-by-people-link"
          />
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import PeopleColumns from 'src/mixins/PeopleColumns';
import ScoresEssentialData from 'components/essential/ScoresEssentialData';
import ConcertsEssentialData from 'components/essential/ConcertsEssentialData';

export default {
  name: 'GetPeople',
  components: { ScoresEssentialData, ConcertsEssentialData },
  mixins: [PeopleColumns],
  data() {
    return {
      tableEntries: [],
      visibleScoresColumns: ['title', 'archive_ref', 'conductor_ref', 'editor'],
      visibleConcertsColumns: ['place', 'date', 'name'],
      error: null,
    };
  },
  created() {
    this.$securedAxios.get(`/people/${window.location.pathname.split('/').pop()}`)
      .then((response) => {
        this.tableEntries.push(response.data);
      })
      .catch((error) => {
        this.error = error;
      });
  },
};
</script>
