<template>
  <div class="q-pa-md">
    <q-table
      v-if="tableEntries"
      ref="table"
      class="sticky-header-column-table"
      :data="tableEntries"
      :columns="peopleColumns"
      :visible-columns="visiblePeopleColumns"
      row-key="id"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
      :filter="filter"
    >
      <template #header="props">
        <q-tr :props="props">
          <q-th auto-width />
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>

      <template #body="props">
        <q-tr
          :props="props"
          data-cy="row"
        >
          <q-td auto-width>
            <q-btn
              class="t-update"
              size="sm"
              color="accent"
              round
              dense
              icon="edit"
              data-cy="edit"
              @click="update(props)"
            >
              <q-tooltip content-class="bg-accent">
                Modifier
              </q-tooltip>
            </q-btn>
            <q-btn
              class="t-delete"
              size="sm"
              color="accent"
              round
              dense
              icon="delete"
              @click="remove(props)"
            >
              <q-tooltip content-class="bg-accent">
                Supprimer
              </q-tooltip>
            </q-btn>
          </q-td>
          <q-td
            key="first_name"
            :props="props"
          >
            {{ props.row.first_name }}
          </q-td>
          <q-td
            key="last_name"
            :props="props"
          >
            <router-link
              :to="`/people/${props.row.id}`"
              data-cy="show-people-link"
            >
              {{ props.row.last_name }}
            </router-link>
          </q-td>
          <q-td
            key="birth_country"
            :props="props"
          >
            {{ props.row.birth_country }}
          </q-td>
          <q-td
            key="birth_date"
            :props="props"
          >
            {{ props.row.birth_date }}
          </q-td>
          <q-td
            key="death_date"
            :props="props"
          >
            {{ props.row.death_date }}
          </q-td>
          <q-td
            key="biography"
            :props="props"
          >
            {{ props.row.biography }}
          </q-td>
          <q-td
            key="nicknames"
            :props="props"
          >
            {{ props.row.nicknames }}
          </q-td>
        </q-tr>
      </template>

      <template #pagination>
        <q-input
          v-model="filter"
          borderless
          dense
          debounce="300"
          placeholder="Filtrer les résultats"
          data-cy="filter-people"
        >
          <template #append>
            <q-icon name="search" />
          </template>
        </q-input>
        {{ totalRows }} / {{ tableEntries.length }} lignes
      </template>
    </q-table>
    <div v-else>
      {{ error }}
    </div>
  </div>
</template>

<script>
import PeopleColumns from 'src/mixins/PeopleColumns';

export default {
  name: 'ListPeople',
  mixins: [PeopleColumns],
  data() {
    return {
      tableEntries: [],
      totalRows: 0,
      filter: '',
      error: null,
      pagination: {
        rowsPerPage: 0,
      },
    };
  },
  created() {
    this.$securedAxios.get('/people')
      .then((response) => { this.tableEntries = response.data; })
      .catch((error) => { this.error = error; });
  },
  mounted() {
    this.$watch(() => this.$refs.table.computedRows,
      (val) => {
        this.totalRows = val.length;
      });
  },
  methods: {
    update(props) {
      const query = { ...props.row };
      delete query.id;
      return this.$router.push({ path: `/people/${props.row.id}/update`, query });
    },
    remove(props) {
      this.$securedAxios.delete(`/people/${props.row.id}`)
        .then(() => {
          const index = this.tableEntries.findIndex((element) => element === props.row);
          this.tableEntries.splice(index, 1);
        })
        .catch((error) => { this.error = error; });
    },
  },
};
</script>

<style lang="sass" scoped>
.sticky-header-column-table
  /* height or max-height is important */
  height: 75vh

  td:first-child
    /* bg color is important for td; just specify one */
    background-color: #fff !important

  tr th
    position: sticky
    /* higher than z-index for td below */
    z-index: 2
    /* bg color is important; just specify one */
    background: #fff

  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
    /* highest z-index */
    z-index: 3
  thead tr:first-child th
    top: 0
    z-index: 1
  tr:first-child th:first-child
    /* highest z-index */
    z-index: 3

  td:first-child
    z-index: 1

  td:first-child, th:first-child
    position: sticky
    left: 0
</style>
