<template>
  <q-page-sticky
    position="bottom-right"
    :offset="[18, 18]"
  >
    <q-fab
      icon="add"
      direction="up"
      color="accent"
      class="t-add"
    >
      <q-fab-action
        color="primary"
        external-label
        label-position="left"
        label="Ajouter partition"
        icon="library_add"
        class="t-add-score"
        @click="addScore"
      />
      <q-fab-action
        color="primary"
        external-label
        label-position="left"
        label="Ajouter acteur"
        icon="person_add"
        class="t-add-people"
        @click="addPeople"
      />
      <q-fab-action
        color="primary"
        external-label
        label-position="left"
        label="Ajouter concert"
        icon="mic"
        class="t-add-concert"
        @click="addConcert"
      />
    </q-fab>
  </q-page-sticky>
</template>

<script>
export default {
  name: 'AddButton',
  methods: {
    addPeople() {
      this.$router.push('/people/add');
    },
    addScore() {
      this.$router.push('/scores/add');
    },
    addConcert() {
      this.$router.push('/concerts/add');
    },
  },
};
</script>

<style scoped>

</style>
