<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          Partothèque HdC
        </q-toolbar-title>
        <NavTabs v-if="this.$store.state.signedInModule.signedIn" />
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
      <AddButton v-if="this.$store.state.signedInModule.signedIn" />
    </q-page-container>
  </q-layout>
</template>

<script>
import NavTabs from './NavTabs';
import AddButton from './AddButton';

export default {
  name: 'MainLayout',
  components: { AddButton, NavTabs },
};
</script>
