<template>
  <q-tabs
    shrink
    stretch
  >
    <q-route-tab
      :label="responsiveLabel('Partitions')"
      icon="library_music"
      to="/scores"
      exact
    />
    <q-route-tab
      :label="responsiveLabel('Acteurs')"
      icon="person"
      class="t-people"
      to="/people"
      exact
    />
    <q-route-tab
      :label="responsiveLabel('Concerts')"
      icon="mic"
      to="/concerts"
      exact
    />
    <q-route-tab
      :label="responsiveLabel('Recherche')"
      icon="search"
      to="/search"
      exact
    />
    <q-tab
      name="disconnect"
      class="t-disconnect"
      :label="responsiveLabel('Déconnexion')"
      icon="exit_to_app"
      @click="signOut"
    />
  </q-tabs>
</template>

<script>
export default {
  name: 'NavTabs',
  methods: {
    responsiveLabel(text) {
      return this.$q.screen.width > 500 ? text : '';
    },
    signOut() {
      this.$securedAxios.delete('/users/sign_out')
        .then(() => {
          delete localStorage.xsrf;
          this.$store.commit('signedInModule/changeSignedInState', false);
          this.$router.replace('/');
        })
        .catch((error) => this.setError(error, 'Cannot sign out'));
    },
    setError(error, text) {
      this.error = (error.response && error.response.data && error.response.data.error) || text;
    },
  },
};
</script>
